.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.App-dark {
  background-color: #000;
  color: white;
}

.App-light {
  background-color: white;
}

/* Media Queries for Smartphones */
@media (max-width: 767px) {
  .App {
    padding: 10px;
  }
}