.article-card {
    width: 250px;
    height: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px grey;
    position: relative;
    text-align: center;
    background-color: white;
    overflow: auto;
}
.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.article-image {
    width: 90%;
    height: 60%;
    min-width: 200px;
    max-width: 340px;
    margin-top: 1vh;
  }
  a:link {
    text-decoration: none;
    color: black;
  }
  a:visited {
     color: black;
  }
  .article-title {
    text-align: center;
    margin-top: 25px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 15px;
  }